{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 style="text-align: center">Bienvenue sur mon blog</h1>
</div>
{% endblock %}
